* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #4a154b;
  width: 100%;
}

main {
  background: #ebedf2;
  min-height: calc(100vh - 65px);
  width: auto;
}

aside {
  background: #d1d1d1;
  width: auto;
  min-height: 100vh;
  min-width: 20vw;

  .scroller {
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 65px;
  }
}

.header_presentation {
  width: 100%;
}
